:root {
    --green: rgb(16, 137, 16);
    --green-dark: #0A610A;
    --gray-dark: #242529;
    --gray-light: #F6F7F8;
    --gray-hover: #E8E9EB;
    --gray-text: #7C7E80;
    --gray-search: #F6F7F8;
    --white: #FFFFFF;
    --yellow: #FFDC23;
    --pink: #D43684;
    --pastel: #FAF1E5;
    --purple: #750046;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    height: 8vh;
}

#dropDownMenuBtN {
    font-size: 1.2rem;
    cursor: pointer;
}

.header-company-logo p {
    font-size: 1.5rem;
    font-weight: 600;
}

.header-company-logo p span {
    color: var(--green);
}

.header-search {
    position: relative;
    background-color: var(--gray-search);
    padding: 10px 30px 10px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 700px;
}

.header-search i {
    padding-left: 10px;
    padding-right: 10px;
}

#headerSearchInput {
    background-color: var(--gray-search);
    border: none;
    outline: none;
    width: 100%;
    max-width: 700px;
}

#headerSearchInput::placeholder {
    color: var(--gray-dark);
    font-size: .9rem;
}

#headerSearchInput::-webkit-search-cancel-button {
    color: var(--gray-dark);
    font-size: 1.5rem;
    cursor: pointer;
}

.header-zipcode {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-zipcode p {
    font-weight: 500;
}

.header-shopping-cart {
    color: var(--gray-dark);
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--gray-light);
    padding: 15px 25px;
    border-radius: 25px;
    cursor: pointer;
}

.header-shopping-cart:hover {
    background-color: var(--gray-hover);
}

.header-shopping-cart i {
    font-size: 1.2rem;
}

.header-shopping-cart p {
    margin: 0px;
    font-weight: 600;
}

.header-search-more {
    top: 45px;
    position: absolute;
    background-color: var(--white);
    width: 100%;
    height: 55vh;
    max-width: 700px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    overflow-y: scroll;
    z-index: 100;
}

.header-search-more-show {
    display: flex;
}

.header-search-more-hidden {
    display: none;
}

.header-search-more-suggestions {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-search-more-suggestion {
    border-radius: 40px;
    padding: 10px 15px;
    background-color: var(--gray-hover);
}

.header-search-more-suggestion a {
    text-decoration: none;
    color: var(--gray-dark);
}

.header-search-more-suggestion p {
    margin: 0px;
    font-size: .9rem;
}

.header-search-more-suggestion p i {
    margin-right: 5px;
}

.header-more-popular-title h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--gray-dark);
}

.header-more-popular-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header-more-popular-items a {
    text-decoration: none;
    color: var(--gray-dark);
}

.popular-item {
    background-color: var(--gray-light);
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 120px 5px 10px;
}

.popular-item:hover {
    background-color: var(--gray-hover);
}

.popular-item-img img {
    width: 100%;
    max-width: 60px;
    border-radius: 15px;
}

.header-more-recommended-title h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--gray-dark);
}

.header-more-recommended-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header-more-recommended-items a {
    text-decoration: none;
    color: var(--gray-dark);
}

.recommended-item {
    background-color: var(--gray-light);
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 120px 5px 10px;
}

.recommended-item-img img {
    width: 100%;
    max-width: 60px;
    border-radius: 15px;
}

.dropdown-menu-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 250px;
    background-color: var(--white);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    z-index: 100;
    overflow-y: auto;
    scrollbar-width: thin;
    transition: 0.25s ease-in-out;
}

.dropdown-menu-left-hide {
    display: none;
}

.dropdown-menu-left-show {
    display: flex;
}

.dropdown-menu-profile {
    display: flex;
    flex-direction: column;
}

.dropdown-menu-username {
    display: flex;
    align-items: center;
    gap: 50px;
}

.dropdown-menu-username h2 {
    color: var(--gray-dark);
    margin-bottom: 5px;
}

.user-profile-pic {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    border-radius: 50%;
}

.user-join-date {
    margin-bottom: 15px;
}

.user-join-date p {
    color: #424345;
    font-size: 1rem;
    font-weight: 600;
}

.dropdown-menu-promos {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--gray-hover);
    margin-bottom: 20px;
}

.promo-delivery {
    background-color: var(--pastel);
    text-align: center;
    border-radius: 5px;
}

.promo-delivery h2 {
    color: var(--purple);
    font-size: 1.2rem;
    padding-top: 10px;
    margin-bottom: 4px;
}

.promo-delivery p {
    color: var(--purple);
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.promo-trial {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 13px;
    padding: 10px;
}

.promo-trial a {
    text-decoration: none;
}

.promo-trial h2 {
    color: var(--pastel);
    width: 100%;
    max-width: 200px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.promo-trial p {
    color: var(--pastel);
    margin-top: 5px;
}

.promo-trial p:nth-child(3) {
    color: var(--purple);
    border: 1px solid var(--pastel);
    background-color: var(--pastel);
    font-weight: 600;
    font-size: 1rem;
    padding: 3px 10px;
    border-radius: 10px;
}

.dropdown-menu-navigation {
    border-bottom: 1px solid var(--gray-hover);
    padding-bottom: 10px;
}

.dropdown-menu-navigation ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dropdown-menu-navigation ul li {
    padding: 10px;
    border-radius: 8px;
}

.dropdown-menu-navigation ul li:hover {
    background-color: var(--gray-light);
}

.dropdown-menu-navigation ul li:active {
    background-color: var(--gray-hover);
}

.dropdown-menu-navigation ul li a {
    color: var(--gray-dark);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
}

.dropdown-menu-navigation ul li a i {
    font-size: 1.2rem;
}

.dropdown-menu-credits {
    border-bottom: 1px solid var(--gray-hover);
    padding-bottom: 10px;
}

.dropdown-menu-credits h2 {
    color: var(--gray-text);
    font-size: 1.1rem;
    font-weight: 600;
}

.credits-links ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.credits-links ul li {
    padding: 10px;
    border-radius: 8px;
}

.credits-links ul li:hover {
    background-color: var(--gray-light);
}

.credits-links ul li:active {
    background-color: var(--gray-hover);
}

.credits-links ul li a {
    color: var(--gray-dark);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
}

.dropdown-menu-support h2 {
    color: var(--gray-text);
    font-size: 1.1rem;
    font-weight: 600
}

.support-links {
    border-bottom: 1px solid var(--gray-hover);
    padding-bottom: 10px;
}

.support-links ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.support-links ul li {
    padding: 10px;
    border-radius: 8px;
}

.support-links ul li:hover {
    background-color: var(--gray-light);
}

.support-links ul li:active {
    background-color: var(--gray-hover);
}

.support-links ul li a {
    color: var(--gray-dark);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
}

.dropdown-menu-apps {
    border-bottom: 1px solid var(--gray-hover);
    padding-bottom: 10px;
}

.dropdown-menu-apps h2 {
    color: var(--gray-text);
    font-size: 1.1rem;
    font-weight: 600
}

.apps-links ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.apps-links ul li {
    padding: 10px;
    border-radius: 8px;
}

.apps-links ul li:hover {
    background-color: var(--gray-light);
}

.apps-links ul li:active {
    background-color: var(--gray-hover);
}

.apps-links ul li a {
    color: var(--gray-dark);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
}

.dropdown-menu-logout {
    border-bottom: 1px solid var(--gray-hover);
    padding-bottom: 10px;
}

.dropdown-menu-logout a {
    color: var(--gray-dark);
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    border-radius: 8px;
}

.dropdown-menu-logout a:hover {
    background-color: var(--gray-light);
}

.dropdown-menu-logout a:active {
    background-color: var(--gray-hover);
}

.dropdown-menu-extra-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dropdown-menu-extra-links ul li a {
    text-decoration: none;
    color: var(--gray-text);
    font-weight: 600;
}

.dot {
    color: var(--gray-text);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.main-content {
    position: relative;
}

#mainContentAdd {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--gray-dark);
}

.main-content-add-text {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 25px;
}

.main-content-add-text p:nth-child(1) {
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
}

.main-content-add-text p:nth-child(1) span {
    color: var(--yellow);
}

.add-more-btn {
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 30px;
    color: var(--gray-dark);
    background-color: var(--white);
    cursor: pointer;
}

.add-more-btn:hover {
    background-color: var(--gray-hover);
}

.main-content-add-quit {
    position: absolute;
    right: 200px;
}

#AddQuitBtn {
    color: var(--white);
    font-size: 1.3rem;
    cursor: pointer;
}

#AddQuitBtn:hover {
    color: var(--gray-hover);
}

.main-content-add-details {
    position: absolute;
    top: 100px;
    left: 600px;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    z-index: 100;
}

.add-details-top {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.add-details-top i {
    cursor: pointer;
    position: absolute;
    left: -210px;
    font-size: 1.3rem;
}

.add-details-top h2 {
    font-size: 1.4rem;
}

.add-details-middle {
    display: flex;
    flex-direction: column;
}

.add-details-middle-title {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.add-details-middle-title i {
    color: var(--green);
    font-size: 1.3rem;
}

.add-details-ul {
    display: flex;
    flex-direction: column;
}

.add-details-ul ul {
    list-style-type: disc;
    padding-left: 17px;
}

.add-details-ul h2 {
    font-size: 1.2rem;
    color: var(--gray-dark);
}

.add-details-ul ul li {
    color: var(--gray-dark);
    padding-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 500;
}

.fresh-vegetables-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fresh-vegetables-title h2 {
    color: var(--gray-dark);
    font-size: 1.7rem;
}

.products-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.products-viewall-link {
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.products-viewall-link:active {
    background-color: var(--gray-hover);
}

.products-viewall-link a {
    color: var(--gray-dark);
    font-weight: 600;
    text-decoration: none;
}

.products-navigation-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navigation-button-left {
    background-color: var(--gray-search);
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.navigation-button-left:hover {
    color: var(--white);
    background-color: var(--green);
}

.navigation-button-right {
    background-color: var(--gray-search);
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.navigation-button-right:hover {
    color: var(--white);
    background-color: var(--green);
}

.fresh-vegetables-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.grocery-box {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

.grocery-box a {
    text-decoration: none;
}

.grocery-box-top {
    position: relative;
}

#addToCartBtn {
    position: absolute;
    display: flex;
    top: 20px;
    left: 140px;
    color: var(--white);
    border: 2px solid var(--green);
    font-weight: 600;
    font-size: .9rem;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--green);
    cursor: pointer;
}

#addToCartBtn i {
    margin-right: 8px;
}

#addToCartBtn:hover {
    background-color: var(--green-dark);
}

.btn-large {
    width: 200px;
}

.btn-small {
    width: 90px;
}

.grocery-price {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.grocery-price p {
    color: var(--gray-dark);
    margin: 0;
}

.price-currency {
    font-weight: 600;
    font-size: 1.7rem;
}

.price {
    font-weight: 600;
    font-size: 1.7rem;
}

.price-cent {
    font-size: 1.2rem;
}

.grocery-name p {
    color: var(--gray-dark);
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
}

.grocery-amount p {
    color: var(--gray-text);
    font-weight: 600;
    margin-top: 0px;
}

.grocery-stock p {
    color: var(--gray-dark);
    font-weight: 600;
}

.grocery-stock p i {
    color: var(--green);
    margin-right: 5px;
}

.fresh-fruit {
    margin-top: 30px;
}

.fresh-fruit-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fresh-fruit-title h2 {
    color: var(--gray-dark);
    font-size: 1.7rem;
}

.fresh-fuit-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}