:root {
    --green: rgb(16, 137, 16);
    --green-dark: #0A610A;
    --gray-dark: #242529;
    --gray-light: #F6F7F8;
    --gray-hover: #E8E9EB;
    --gray-text: #7C7E80;
    --gray-search: #F6F7F8;
    --white: #FFFFFF;
    --yellow: #FFDC23;
    --pink: #D43684;
    --pastel: #FAF1E5;
    --purple: #750046;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#dropDownMenuBtN {
    font-size: 1.2rem;
    cursor: pointer;
}

.header-company-logo p {
    font-size: 1.5rem;
    font-weight: 600;
}

.header-company-logo p span {
    color: var(--green);
}

.header-search {
    background-color: var(--gray-search);
    padding: 10px 30px 10px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
}

#headerSearchInput {
    background-color: var(--gray-search);
    border: none;
}

.header-zipcode {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-zipcode p {
    font-weight: 500;
}

.header-shopping-cart {
    color: var(--gray-dark);
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--gray-light);
    padding: 15px 25px;
    border-radius: 25px;
}

.header-shopping-cart i {
    font-size: 1.2rem;
}

.header-shopping-cart p {
    margin: 0px;
    font-weight: 600;
}

.dropdown-menu-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.dropdown-menu-profile {
    display: flex;
    flex-direction: column;
}

.dropdown-menu-username {
    display: flex;
    align-items: center;
    gap: 50px;
}

.dropdown-menu-username h2 {
    color: var(--gray-dark);
}

.user-profile-pic {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    border-radius: 50%;
}

.user-join-date p {
    color: #808082;
    font-weight: 600;
}

.dropdown-menu-promos {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--gray-text);
    margin-bottom: 20px;
}

.promo-delivery {
    background-color: var(--pastel);
    text-align: center;
    border-radius: 5px;
}

.promo-delivery h2 {
    color: var(--purple);
    font-size: 1.3rem;
    padding-top: 10px;
}

.promo-delivery p {
    color: var(--purple);
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.promo-trial {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.promo-trial a {
    text-decoration: none;
}

.promo-trial h2 {
    color: var(--pastel);
    width: 100%;
    max-width: 200px;
}

.promo-trial p {
    color: var(--pastel);
}

.promo-trial p:nth-child(3) {
    color: var(--purple);
    border: 1px solid var(--pastel);
    background-color: var(--pastel);
    font-weight: 600;
    padding: 3px;
    border-radius: 10px;
}